body {
    overflow-x: hidden;
}

.faq {
    min-height: calc(100vh - 220px);
}
/*вопрос*/
.faq .panel-heading {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border: 1px solid #FF6000;
    background-color: #FCD2A4;
    color: #4e555b;
    border-radius: 5px;
}

/*текст вопроса*/
.panel-title a {
    color: #4e555b;
}

/*текст вопроса при наведении курсора*/
.panel-title a:hover {
    color: #4e555b;
}

/*ответ*/
.faq .panel-body {
    /*margin-top: 30px;*/
    padding: 12px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #FF6000;
    border-top: none;
    background-color: #F8ECE0;
    color: #4e555b;
    border-radius: 5px;
    font-family: inherit, sans-serif;
}

/*рамка*/
.main_form {
    border: 1px solid #FF6000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #F2F2F2;
   }

