/*content page---------------------------------------------------*/
.text-con{
    font-size: 18px;
    border: 1px solid #FF9933;
    background-color: #F8ECE0;
    text-align: justify;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 15% 20px 15%;
}
h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
