/*content-------------------------------------------------------*/
.all-info {
    border: 1px solid #FF9933;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
}

.logo_shop {
    width: 250px;
    height: 300px;
    float: left;
}

/*логотип магазина*/
.logo_img {
    background-color: #ffffff;
    width: 190px;
    height: 120px;
    margin-top: 30px;
    margin-left: 30px;
}

.content_shop {
    padding: 0 15px 20px 0px;
    display: flow-root;
    text-align: justify;
    font-size: 17px;
    font-family: Roboto, sans-serif;
}

/*слово кэшбэк*/
.logo_shop .word_cash, .do {
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

/*текст под лого*/
.cash_proc .cifra, .znak_proc {
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.cash_proc {
    text-align: center;
}

.shop_button {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 36px;
}

.shop_button a {
    text-shadow: none;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background-color: #FF9933;
    color: white;
    border: 1px solid #FF9933;
}

.shop_button.disabled a {
    background-color: #8c8c8c;
    color: white;
    border: 1px solid #8c8c8c;
}

.content_shop h4 {
    text-align: center;
}

.panel-who .avatar img {
    width: 48px;
    height: 48px;
}

h4 {
    font-size: 22px;
    color: #FF6000;
}

h5 {
    font-size: 17px;
}

.review {
    border: 1px solid #FF9933;
    border-radius: 5px;
    height: 60px;
    margin-top: 30px;
}

.button_r .btn-reviews {
    background-color: #FF9933;
    color: white;
    border: 1px solid #FF9933;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.btn-reviews:hover {
    box-shadow: 0 0 0 0.2rem rgb(255, 153, 51);
    background-color: rgb(255, 153, 51);
}

.up > div {
    display: inline-block;
}

.sm_textarea {
    width: 100%;
    border: none;
    background-color: #F8ECE0;
    outline: none;
}

.fio {
    padding-left: 3px;
}

/*кнопка отправить отзыв*/
.button_en .btn-send {
    background-color: #FF9933;
    color: white;
    border: 1px solid;
    text-decoration: none;
    padding: 5px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*цвет рамки кнопки при наведении*/
.button_en .btn-send:hover {
    color: #FF9933;
    background-color: #F8ECE0;
}

.btn-send:focus {
    outline: 0 !important;
}

.text_reviews {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #F8ECE0;
}

.rev-who .panel-who {
    padding: 5px 10px 0px 10px;
    border: 1px solid #FF6000;
    margin-top: 20px;
    background-color: #FCD2A4;
    color: #4e555b;
    border-radius: 5px;
    height: 26px;
    width: 97%;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    display: table;
}

.rev-who .panel-what {
    padding: 5px 10px 3px 10px;
    margin-top: 9px;
    margin-left: -11px;
    border: 1px solid #FF6000;
    background-color: #F8ECE0;
    color: #4e555b;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    width: 100%;
    font-weight: normal;
    margin-bottom: -1px;
}

.link-rev {
    color: #4e555b;
    text-decoration: none;
}

.link-rev:hover {
    text-decoration: underline;
}

.ava {
    float: left;
}

.fiostar {
    padding-left: 5px;
}

.date {
    float: right;
}

/*звездочки рейтинга*/
.rating_block {
    width: 125px;
    height: 25px;
}

.rating_block input[type="radio"] {
    display: none;
}

.label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/img/rating.png) no-repeat 50% 0;
    cursor: pointer;
}

/*Пишем правила смены положения background-а*/
.rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
    background-position: 50% -25px;
}

/*звездочки рейтинга в отзывах*/
.rating_block_one {
    width: 125px;
    height: 25px;
}

/*звезда есть*/
.starred {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/img/rating.png) no-repeat 0 100%;
}

/*звезды нет*/
.non_starred {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(images/rating.png) no-repeat 50% 0;
}

@media (min-width: 768px) and (max-width: 1139px) {
    .main-menu {
        height: 60px;
    }

    .logo_shop {
        width: 200px;
    }

    .logo_img {
        margin-left: 5px;
    }

    .shop_button {
        margin-left: 10px;
    }

    .button_r {
        font-size: 15px;
    }

    .rev-who {
        margin-right: 7px;
    }
}









