body {
    overflow-x: hidden;
}

.ccont {
    min-height: calc(100vh - 225px);
}

/*главная форма регистрации*/
.main_form {
    display: inline-block;
    width: 600px;
    height: 575px;
    background-color: #FCD2A4;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*заголовок*/
.main_form h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    padding-bottom: 20px;
}

/*второй заголовок*/
.main_form h2 {
    padding-top: 40px;
    font-size: 22px;
    margin-bottom: 20px;
}
/*поля ввода*/
.main_form .form-group {
    margin-right: 100px;
    margin-left: 100px;
}

/*cодержимое окна регистрации*/
.main_form .fields {
    text-align: center;
}


/*цвет рамки кнопки при наведении*/
.main_form .btn-enter:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,96,0,.25);
}


/*цвет рамок окон при нажатии*/
.main_form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,96,0,.25);
    border-color: rgba(255,96,0,.25);
}
/*цвет ссылки на вос. пароля*/
.fields a {
    color: #FF6000;
}
/*цвет ссылки при наведении курсора*/
.fields a:hover {
    color: #FF6000;
}

/*кнопки соц. сетей*/
.social_buttons .btn {
    width: 45px;
    height: 45px;
    padding-top: 12px;
    font-size: 22px;
    margin-right: 3px;
    margin-left: 3px;
 }

/*кнопка вконтакте*/
.social_buttons .btn-vk {
    background-color: #5f83a9;
    border: none;
}

.btn-vk svg {
    position: relative;
    left: -2px;
}

/*кнопка одноклассники*/
.social_buttons .btn-od {
    background-color: #f58220;
    border: none;
}
/*кнопка фейсбук*/
.social_buttons .btn-fb {
    background-color: #395a99;
    border: none;
}
/*кнопка гугл*/
.social_buttons .btn-gg {
    background-color: #d6492e;
    border: none;
}

/*цвет svg на всех кнопках*/
.social_buttons, svg {
    color: white;
}
/*при клике на кнопку соц.сетей*/
.social_buttons .btn:focus {
    box-shadow: none;
}