.ccont {
    min-height: calc(100vh - 250px);
}

/*цвет шрифта в подвале*/
body .pt-4 .row h5 {
    color: #A4A4A4;
}
/*шапка*/
.bg-white {
    background-color: #ffffff;
    height: 60px;
}

/*цвет текста в шапке*/
.bg-white a.navbar-brand {
    color: #FF6000;
}
/*карусель*/
div.carousel-color {
    background-color: #FCD2A4;
    color: #212529;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 30px;
}
/*цвет фона контейнера*/
.container-color {
    background-color: #E6E6E6;
}
/*расположение текста в карусели*/
.container h1 span {
    padding-top: 0px;
}

.container h1 span1 {
    padding-left: 70px;
}

.container h1 span2 {
    padding-left: 140px;
}

.container h1 span3 {
    padding-left: 220px;
}
/*нижний текст в карусели*/
.container div p {
    font-family: Roboto;
    font-size: 28px;
    padding-top: 30px;
}
/*текст в карусели*/
.container .display-4 {
    font-weight: 500;
    font-size: 54px;
}
/*текст в шапке*/
.navbar a {
    color: #FF6000;
    font-size: 20px;
    font-weight: bolder;
  }

/*текст в шапке при наведении курсора*/
.container .p-2:hover {
    border-bottom: 3px solid #FF6000;
    text-decoration: none;
    color: #FF6000;
}

/*логотип и название*/
.black{
    font-size: 28px;
    margin-bottom: 10px;
    color: #FF6000;
}

/*цвет текста нижних блоков*/
.font-icon-color {
    color: #FF6000;
}

/*шапка, всё меню*/
.all_menu {
    diplay: inline-block;
    margin-top: 10px;
    padding-left: 50px;
    width: 600px;
}

/*шапка, вход-рег*/
.lost-menu {
    margin-top: 10px;
    width: 300px;
    padding-left: 60px;
}

/*нижний отступ в футере*/
.container .row .d-block {
    padding-bottom: 25px;
}

/*листик*/
.logo_menu {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 3px;
}

