/*content-------------------------------------------------------*/
.text-rules{
    font-size: 18px;
    border: 1px solid #FF9933;
    background-color: #F8ECE0;
    text-align: justify;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 15% 20px 15%;
}
h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (min-width: 1140px) and (max-width: 1439px) {
     .rules{
        font-size: 29px;
        line-height: 2em;
    }
}
@media (min-width: 768px) and (max-width: 1139px) {
    .rules{
        font-size: 30px;
        height: 108px;
    }
    .main-menu {
        height: 60px;
    }
}
