/*ЛИЧНЫЙ КАБИНЕТ---------------------------------------------*/
.message{
    position: relative;
    margin-top: 20px;
    margin-bottom: -14px;
    border: 1px solid #FF6000;
    background-color: #F8ECE0;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    padding: 5px 18px 5px 8px;
}
.privat{
    height: 100%;
    margin-right: 25%;
    margin-left: 25%;
}
.content{
    min-height: 660px;
}
.privat .form {
    border: 1px solid #FF6000;
    margin-top: 35px;
    background-color: #FCD2A4;
    height: 26px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    display: table;
    padding-bottom: 0;
}
.privat .data {
    margin-top: 7px;
    border: 1px solid #FF6000;
    background-color: #F8ECE0;
    color: #4e555b;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: -1px;
    border-right: none;
    border-left: none;
}
.banner > div {
    display: inline-flex;
}
.banner{
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
}
.svg-inline--fa.fa-w-16 {
    width: 0.7em;
}
.form .link-office {
    color: #FF6000;
    text-align: left;
}
.input-label {
    color: rgb(152, 152, 152);
    white-space: nowrap;
    font-weight: 600;
}
.fields .input-text{
    display: inline-block;
    line-height: 1.5;
    padding: 15px 0 15px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    transition: all 0.15s ease 0s;
    font-size: 16px;
    width:100%;
    background-color: #F8ECE0;!important;
}
.label-profile {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(152, 152, 152);
}
.word .but-save-right{
    margin-top: 5px;
}
.b-edit {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}
.open-win {
    position: absolute;
    margin-right: 6px;
    right: 5px;
    margin-top: -19px;
}
.word {
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    background: none;
    outline: none;
    padding: 0;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: color 0.25s ease 0s;
}
.but-ok {
    margin-top: 40px;
    text-align: center;
}
.but-up{
    margin-top: 45px;
    margin-left: 27px;
}
.but-save-right{
    margin-left: 50px;
}
.line-up .user-profile{
    min-width: 230px;
}
.data-profile .line-up {
    margin-top: 15px;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 3px;
    text-align: right;
}
.cross:focus {
    outline: 0 !important;
}
.message .cross{
    position: absolute;
    margin-right: -2px;
    top: 0;
    right: 0;
    color: #FF6000;
    background: none;
    border-width: initial;
    border-style: none;

}
/*profile*/
.my-profile .avatar img {
    width: 100px;
    height: 100px;
    padding: 0 20px 0 20px;
    border-radius: 50%;
}
.avatar .download{
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 25px 20px 0 20px;
    text-align: center;
}
.avatar .download a{
    font-size: 14px;
    color: #5a6268;
}
.data-profile{
    min-height: 163px;
    display: grid;
    grid-template-columns: 25% 45% 30%;
}
.data-email .window-email {
    display: grid;
    grid-template-rows: 250px 80px;
}
.data-pass .window-email {
    display: grid;
    grid-template-rows: 250px 80px;
}
.profile-phone{
    display: grid;
    grid-template-columns: 66% 30%;
    grid-column-gap: 4%;
}
.submenu-ques li {
    list-style-type: none;
    padding-bottom: 3px;
}
.submenu-ques {
    display: none;
    top: 66px;
    margin-left: 92px;
    z-index: 1;
    position: absolute;
    width: 146px;
    background-color: #F8ECE0;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding: 6px 6px 6px 10px;
    border: 1px solid #FF9933;
    text-align: left;
}
.submenu-ques a {
    color: black;
    text-decoration: none;
}
.avatar {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
}
.button-under-up {
    margin-left: 0;
    margin-top: 23px;
}
.buttons{
    display: block;
}
/*e-mail-password*/
.mail-pass {
    display: grid;
    grid-template-columns: 46% 50%;
    grid-column-gap: 4%;
}
.data-email, .data-pass {
    min-height: 250px;
    padding: 20px;
}
.data-phone{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 148px;
}
.but-left, .but-right{
    margin-top: 40px;
    position: relative;
    text-align: center;
}
.user-profile{
    max-width: 530px;
}
/*password*/
.but-right{
    position: relative;
    text-align: center;
}
.data-pass .user-profile{
    min-height: 250px;
}
.data-email .window-email {
    display: grid;
    grid-template-rows: 250px 80px;
}

@media (min-width: 1440px) {
    .privat {
        margin-right: 20%;
        margin-left: 20%;
    }
}
@media (min-width: 1140px) and (max-width: 1439px) {
    .privat{
        margin-right: 15%;
        margin-left: 15%;
    }
    .mail-left, .pass-right{
        width: 100%;
    }
    .mail-pass{
        display: block;
    }
    .data-phone{
        padding: 7px;
    }
    .avatar {
         margin-left: 0;
    }
    .but-up {
        margin-left: 14px;
    }
    .but-ok{
        margin-top: 30px;
    }
    .data-phone .telephone{
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .window-email{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .but-left, .but-right{
        margin-top: 45px;
        margin-left: 30px;
    }
    .but-save-right{
        margin-left: 0;
    }
    .data-pass .window-email{
        display: grid;
        grid-template-rows: 0 0;
    }
    .data-email .window-email{
        display: grid;
        grid-template-rows: 0 0;
    }
    .data-email{
        min-height: 170px;
    }
    .content {
        min-height: 775px;
    }
    .gribu{
        margin-top: 23px;
    }
    .ma-center{
        margin-top: 50px;
    }
    .pa-center{
        margin-top: 92px;
    }
}
@media (min-width: 768px) and (max-width: 1139px) {
    .privat {
        margin-right: 10%;
        margin-left: 10%;
    }
    .mail-left, .pass-right {
        width: 100%;
    }
    .content {
        min-height: 775px;
    }
    .mail-pass{
        display: block;
    }
    .window-email{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .ava-up .user-ava .avatar {
        margin-left: 10px;
    }
    .line-up .user-profile {
        width: 270px;
    }
    .but-left, .but-right{
        margin-top: 45px;
        margin-left: 30px;
    }
    .but-up {
        margin-left: 0;
    }
    .but-save-right{
        margin-left: 0;
    }
    .data-pass .window-email{
        display: grid;
        grid-template-rows: 0 0;
    }
    .data-email .window-email{
        display: grid;
        grid-template-rows: 0 0;
    }
    .data-email{
        min-height: 170px;
    }
    .gribu{
        margin-top: 23px;
    }
    .ma-center{
        margin-top: 50px;
    }
    .pa-center{
        margin-top: 86px;
    }
    .profile-phone {
        display: block;
    }
    .profile-phone .all-name{
        width: 100%;
    }
    .but-up{
        margin-left: 25px;
    }
    .data-phone .telephone{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .data-phone{
        min-height: 80px;
    }
    .but-ok {
        margin-top: 0;
        margin-left: 60px;
    }
}




