{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/conditions.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="text-con">
            <h5>1. Введение</h5>
            <p></p>
            <p>1.1. Настоящие Условия определяют порядок использования web-сайта cashtan.tk (именуемой в дальнейшем
                "кэшбэк-сервис"), права и обязанности Кэшбэк-сервиса связанные с услугами данного сайта, так и права
                и
                обязанности Пользователя (в дальнейшем "пользователь"), после принятия данных Условий.</p>
            <p>1.2. Для осуществления регистрации на кэшбэк-сервисе пользователь должен ознакомиться с настоящими
                условиями, и принять их. Условия могут периодически меняться без уведомления пользователей,
                Изменения
                условий вступают в силу после их публикации на сайте.</p>

            <h5>2. Термины и определения</h5>
            <p></p>
            <p><i>Кэшбэк</i> - Возврат части стоимости покупки в интернет магазинах в виде денежных средств.</p>
            <p><i>cashtan.tk</i> - сервис, который возвращает часть денег с покупок, сделанных в интернет магазинах,
                представленных на сайте.</p>
            <p><i>Условия</i> – основные понятия и правила использования кэшбэк-сервиса cashtan.tk</p>
            <p><i>Пользователь</i> – физическое лицо достигшее 18 лет, зарегистрированное на кэшбэк-сервисе
                cashtan.tk и
                получившее возможность пользоваться его услугами.</p>
            <p><i>Личный кабинет</i> – страница на сайте кэшбэк-сервиса с указанием данных пользователя.</p>
            <p></p>
            <h5>3. Начисление Кэшбэка</h5>
            <p></p>
            <p>3.1. Для получения кэшбэка Пользователю необходимо перейти на сайт магазина по ссылке с сайта
                cashtan.tk
                и совершить покупку с соблюдением всех условий.</p>
            <p>3.2. Вознаграждение выплачивается в российских рублях и рассчитывается как фиксированная сумма или
                процент от стоимости заказанной и оплаченной услуги\товара.</p>
            <p>3.3. По некоторым покупкам возможно ожидание кэшбэка более 14 дней, пока магазин, в котором была
                совершена покупка, не подтвердит, что покупка была оплачена и не переведет деньги в cashtan.tk. В
                таких
                случаях, время ожидания может быть увеличено до 2х и более месяцев.</p>
            <p>3.4. Если сумма покупки меньше кэшбэка, то в данном случае кэшбэк не предусмотрен.</p>
            <p>3.5. Существует вероятность, по которой магазин не сможет отследить совершенную Пользователем покупку
                и
                перечислить вознаграждение. Например, при наличии технических проблем на стороне магазина.</p>
            <p></p>
            <h5> 4. Регистрация пользователя</h5>
            <p></p>
            <p>4.1. Пользователями кэшбэк-сервиса могут быть физические лица, достигшие возраста 18 лет. Регистрация
                на
                сайте необходима для обеспечения достоверной и точной информации о пользователе.</p>
            <p>4.2. Для регистрации на сайте пользователю необходимо ввести данные логина (электронной почты) и
                пароля в
                регистрационной форме. Для исключения недоразумений просьба указывать действующий адрес электронной
                почты.</p>
            <p>4.3. После окончания процесса регистрации пользователю становится доступен Личный кабинет на сайте
                cashtan.tk и на него распространяются все настоящие Условия со всеми вносимыми дополнениями и
                изменениями.</p>
            <p>4.4. Один пользователь может иметь только одну учетную запись.</p>
            <p>4.5. Принимая данные Условия, пользователь соглашается, что кэшбэк-сервис не несет ответственности за
                некорректные данные, указанные пользователем при регистрации.</p>
            <p>4.6. Администрация кэшбэк-сервиса оставляет за собой право удалить учетную запись пользователя, в
                случае
                если со стороны пользователя будут выявлены действия мошеннического и/или обманного характера.</p>
            <p></p>
            <h5> 5. Конфиденциальность</h5>
            <p></p>
            <p>5.1. Пользуясь сайтом cashtan.tk, пользователь предоставляет информацию об электронной почте, пароле,
                своих контактных данных.</p>
            <p>5.2. Сбор данной информации проводится с целью оказания пользователям оговоренного сервиса с лучшим
                качеством и в минимальные сроки.</p>
            <p>5.3. Администрация кэшбэк-сервиса cashtan.tk принимает все возможные меры по обеспечению
                несанкционированного доступа к личной информации пользователей. Но нужно иметь ввиду, что в случае
                обнаружения сбоев и ошибок при работе портала из-за действия любых вредоносных программ
                администрация
                портала не несет ответственности за возможные убытки пользователей.</p>
        </div>
    </div>
{% endblock %}
