{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h1>{{ trans('asdfasdf') }}Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
        <div>
            <h1>Основные вопросы</h1>
        </div>
    </div>
{% endblock %}