{% extends 'base.html.twig' %}

{% block body %}
<div class="ccont">
    <div class="container">
        <div class="stels-block"></div>
        <div class="row jumbotron p-3 p-md-5 text-black rounded carousel-color">
            <!--<div class="">-->
            <div class="col-md-6 px-0">

                <h1 class="display-4 "><span>Совершайте</span><br> <span1>покупки</span1><br> <span2>в любимых</span2> <br><span3>магазинах</span3></h1>
                <p class="lead my-2">и возвращайте до 90% от стоимости</p>
            </div>
            <div class="col-md-6 px-0">
                <img class="img-fluid" src="static/images/shoping.jpg">
            </div>
            <!--</div>-->
        </div>

        <div class="row p-3">
            <div class="col-lg-4 text-center font-icon-color">
                <i class="fas fa-6x fa-desktop "></i>
                <h4>Выбирайте любой магазин</h4>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center font-icon-color">
                <i class="fas fa-6x fa-shopping-basket"></i>
                <h4>Совершайте покупки</h4>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center font-icon-color">
                <i class="fas fa-6x fa-credit-card"></i>
                <h4>Получайте часть денег обратно</h4>

            </div><!-- /.col-lg-4 -->
        </div>
    </div>
</div>
{% endblock %}
